on: [push, pull_request]

name: Test

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: check
        run: cargo +${{ matrix.rust }} check --all-features --all-targets
      - name: test/debug
        run: cargo +${{ matrix.rust }} test --all-features
      - name: test/release
        run: cargo +${{ matrix.rust }} test --release --all-features
      - name: Build documentation
        run: cargo +${{ matrix.rust }} doc --no-deps
